/*
 * Color Scheme
 * ============
 */

* { 
	font-size: 1.02em;
	line-height: 1.5em;
}

.cm-string {
	color: #E6DB74;
}

.cm-error {
	background: #F92672;
	color: #F8F8F2 !important;
}

.cm-meta {
	color: #AE81FF;
}

.cm-comment {
	color: #75715E;
}

.cm-atom {
	color: #2fa88c;
}

.cm-number {
	color: #45b4a3;
}

.cm-link {
	color: #429870;
}

.cm-property {
	color: #3a9a84;
}

.cm-attribute {
	color: #44c8d3;
}

.cm-keyword {
	color: #66D9EF;
}

.cm-string.cm-property {
	color: #F8F8F2;
}

.cm-variable {
	color: #fde52d;
}

.cm-variable-2 {
	color: #fde52d;
}

.cm-variable-3 {
	color: #ffffff;
}

.cm-qualifier:hover {
	color: #AE81FF;
}

.cm-builtin {
	color: #A6E22E;
}

.cm-operator {
	color: #AE81FF;
}

.cm-tag {
	color: #F92672;
}

.cm-bracket {
	color: #AE81FF;
}

.cm-def {
	color: #fc7420;
}


/**
 * User Interface
 * ==============
 *
 * @TODO Matching words
 * @TODO Scrollbars
 * @TODO Find highlights
 */

.CodeMirror,
.CodeMirror .CodeMirror-scroll {
	background: #1D1F20;
	color: #F8F8F2;
}

#not-editor,
#image-holder {
	background-color: #222;
	color: #F8F8F2;
	transition: background-color 0.3s ease-out;
}

.CodeMirror {
	border-left-color: #1B1B1B;
}

div.CodeMirror-selected {
	background: #444 !important;
}

.CodeMirror-gutters {
	background: #272822;
	border-right: 0px;
}

.CodeMirror-guttermarker {
	color: #F8F8F2;
}

.CodeMirror-guttermarker-subtle {
	color: #272822;
}

.CodeMirror-linenumber {
	color: #8D8D8A;
}

.CodeMirror-cursor {
	border-left: 1px solid #f8f8f0 !important;
}

.CodeMirror-activeline-background,
.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
	background: #373831 !important;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
	color: #F8F8F2;
}

.CodeMirror-focused .CodeMirror-activeline .inline-widget .CodeMirror-gutter-elt {
	color: #767676;
}

.CodeMirror-matchingbracket {
	background-color: transparent!important;
/*	border-bottom: 2px solid;*/
	/* text-decoration: underline does not look that well with large font sizes */
	color: #57e236 !important;
	padding-bottom: 0.166em;
}

.CodeMirror-matchingtag {
	background-color: rgba(255, 255, 255, 0.1);
	border-bottom: 2px solid #c9b264;
	/* text-decoration: underline does not look that well with large font sizes */
	padding-bottom: 0.166em;
}


/**
 * Extensions
 * ==========
 */


/*
 * Brackets-Vim (https://github.com/megalord/brackets-vim)
 * -------------------------------------------------------
 */

.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
	background: rgba(248, 248, 242, 0.5) !important;
}


/**
 * Show Whitespace (https://github.com/DennisKehrig/brackets-show-whitespace)
 * --------------------------------------------------------------------------
 */

.CodeMirror .cm-dk-whitespace-space::before,
.CodeMirror .cm-dk-whitespace-tab::before,
.CodeMirror .cm-dk-whitespace-leading-space::before,
.CodeMirror .cm-dk-whitespace-leading-tab::before,
.CodeMirror .cm-dk-whitespace-trailing-space::before,
.CodeMirror .cm-dk-whitespace-trailing-tab::before {
	background-color: #75715E !important;
}


/**
 * Code Folding (https://github.com/thehogfather/brackets-code-folding)
 * --------------------------------------------------------------------
 */

.CodeMirror-foldgutter,
.CodeMirror-foldgutter,
.CodeMirror-foldgutter-blank,
.CodeMirror-foldgutter-folded,
.CodeMirror-foldgutter-open {
	color: #8d8042;
}

.CodeMirror-foldgutter-open::after {
	content: "\25bd";
}

.CodeMirror-foldmarker {
	background-color: #333;
	border-color: #555;
	color: #555;
	padding: 0 10px;
}

/* Copied from CodePen CSS */

.cm-header {
	font-weight: bold;
}

.cm-strong {
	font-weight: bold;
}

.cm-em {
	font-style: italic;
}

.CodeMirror-cursor {
	border-left-color: white !important;
}

.CodeMirror-selected {
	background: rgba(255, 255, 255, 0.05);
}

.CodeMirror-focused .CodeMirror-selected {
	background: rgba(255, 255, 255, 0.1);
}

.CodeMirror-matchingbracket {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.powers {
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.editor-title-button svg {
	fill: #999;
}

.editor-title-button:hover svg,
.editor-title-button:focus svg {
	fill: #eee;
}

.cm-searching {
	background: black;
	outline: 2px solid rgba(255, 255, 255, 0.25);
}

.cm-keyword {
	color: #ddca7e;
}

.cm-atom {
	color: #ddca7e;
}

.box-html .cm-atom {
	color: #96b38a;
}

.cm-number {
	color: #d0782a;
}

.cm-unit {
	color: #d0782a;
}

.cm-def {
	color: #809bbd;
}

.cm-variable {
	color: #ddca7e;
}

.cm-variable-2 {
	color: #809bbd;
}

.cm-property {
	color: #9a8297;
}

.cm-operator {
	color: #ccc;
}

.cm-comment {
	color: #666;
}

.cm-string {
	color: #96b38a;
}

.cm-string-2 {
	color: #fff;
}

.cm-meta {
	color: #9a8297;
}

.cm-header {
	color: #FF6400;
}

.cm-tag {
	color: #A7925A;
}

.box-css .cm-tag {
	color: #ddca7e;
}

.cm-attribute {
	color: #ddca7e;
}

.cm-strong {
	color: #ddca7e;
}

.cm-em {
	color: #ddca7e;
}

.cm-qualifier {
	color: #ddca7e;
}

.cm-builtin {
	color: #ddca7e;
}

body.editor {
	background: #DDCA7E;
}

.box,
.editor .top-boxes,
.CodeMirror-gutter-wrapper {
	background: #1d1f20;
}

.box pre,
.editor .top-boxes pre,
.CodeMirror-gutter-wrapper pre {
	color: white;
}

.CodeMirror-linenumber {
	color: #343434;
}

.CodeMirror-guttermarker-subtle {
	color: #666;
}

.CodeMirror-simplescroll-horizontal div,
.CodeMirror-simplescroll-vertical div {
	background: #666;
}
